body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

a {
  text-decoration: none;
}

/* Глобальные стили обертки */

.wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

/* Центровщик */

.container {
  width: 1150px;
  margin: 0 auto;
}

/* Общие стили кнопок */

/* ВНИМАНИЕ, ПЛОХО РАБОТАЕТ! */

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  padding:11px 23px 13px;
  color: #ffffff;
  vertical-align: top;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:hover {
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active {
  color: #ffffff;
  border-radius: 50px;
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

/* Слайдер*/

.main-slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-inner {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Слайды слайдера */

.slide {
  display: none;
}

#wrapper-btn-1:checked ~ .wrapper #slider-item-1,
#wrapper-btn-2:checked ~ .wrapper #slider-item-2,
#wrapper-btn-3:checked ~ .wrapper #slider-item-3 {
  display: block;
}

#wrapper-btn-1:checked ~ .wrapper label[for="wrapper-btn-1"],
#wrapper-btn-2:checked ~ .wrapper label[for="wrapper-btn-2"],
#wrapper-btn-3:checked ~ .wrapper label[for="wrapper-btn-3"] {
  background-color: #ffffff;
}

#wrapper-btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo1.png");
}

#wrapper-btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo2.png");
}

#wrapper-btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo3.png");
}

/* margin-top: 28px;
margin-bottom: 7px; */

/* .slider-item-1 {
  background-color: #849d8f;
  background-image: url("../img/promo1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-item-2 {
  background-color: #8996a6;
  background-image: url("../img/promo2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-item-3 {
  background-color: #9d8b84;
  background-image: url("../img/promo3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  min-height: 496px;
  width: 670px;
  margin: 0 auto 35px;
} */

/* Центровщик внутри шапки */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.upper-main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.downer-main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1146px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* Навигация в шапке сайта */

.main-header-logo {
  width: 154px;
  height: 64px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.nav-list, .nav-submenu-list {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 676px;
  padding: 0;
  margin: 0;
}

.nav-list a {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 13px;
  margin: 1px;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.nav-list a:hover, .nav-list a:active {
  color: #333333;
  border-radius: 50px;
  border-bottom: none;
  background-color: #f7f6f3;
}

.nav-list a:active {
  border-top: 2px solid #696969;
  background-color: #f8f7f4;
}

.nav-catalog-list-link.nav-list-element-current, .nav-submenu-list-link.nav-list-element-current {
  color: #ffffff;
  border-radius: 50px;
  border-bottom: none;
  background-color: #d07058;
}

/* Пользовательское меню в шапке */

.user-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 263px;
}

.user-menu a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.user-menu a:hover {
  color: #323232;
}

.user-menu-element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 32px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-search {
  width: 33px;
  border-radius: 50%;
  margin-right: 1px;
}

.header-search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search:hover,
.login-link:hover {
  background-color: #f8f7f4;
}

.header-search:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link {
  width: 93px;
  box-sizing: border-box;
  padding-right: 17px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.login-link:hover::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/entrance-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  width: 117px;
  box-sizing: border-box;
  padding-right: 34px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Формы пользовательского меню в шапке */

.header-search-form input, .user-form input {
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.header-search-form input::placeholder, .user-form input::placeholder {
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d3d3d2;
}

.header-search-form input:hover, .user-form input:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.header-search-form input:active, .user-form input:active {
  font: inherit;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Контакты в шапке */

.contact-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-weight: 700;
}

.tel-hours {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.tel {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

/* Промо */

.main-promo {
  display: flex;
  justify-content: space-between;
  margin: 0 2px 40px;
}

.promo-item {
  width: 560px;
  min-height: 230px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 18px;
}

.promo-item a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.promo-caption {
  margin: 16px 18px;
  font-size: 35px;
  line-height: 41px;
}

.promo-description {
  margin: 0 20px 45px;
  font-size: 18px;
}

.promo-item.promo-item-raspberry {
  background-color: #6c2231;
  background-image: url("../img/background-raspberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-item.promo-item-chocolate {
  background-color: #41281c;
  background-image: url("../img/background-chocolate.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-item .button {
  float: right;
  max-width: 180px;
  margin-left: auto;
  margin-right: 20px;
}

/* Товары*/

.popular-items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
}

.catalog-item-link {
  display: flex;
  flex-flow: column-reverse nowrap;
  text-align: center;
  width: 267px;
}

.catalog-item-inner img {
  border-radius: 50%;
}

.popular-items a, .catalog-list a {
  color: #ffffff;
}

.popular-items a:hover, .catalog-list a:hover, .popular-items a:active, .catalog-list a:active {
  color: #ffbc9e;
}

.popular-items-list, .catalog-list {
  list-style: none;
}

.popular-items .button {
  display: block;
  width: 203px;
  margin: 0 auto;
}

.item-caption {
  order: -1;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.item-price {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.kg {
  font-size: 30px;
}

.popular-items .hidden {
  display: none;
}

/* Приемущества Глейси */

.features {
  min-height: 278px;
  padding: 27px 20px 0;
  margin-bottom: 40px;
  background-color: #ede1ca;
  background-image: url("../img/background-pattern.jpg");
  background-position: center;
  background-repeat: repeat;
  border-radius: 15px;
}

.features-caption {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 476px;
  padding-left: 57px;
  margin-right: 10px;
  margin-bottom: 25px;
}

/* Новости */

.news-and-mailing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.news-and-mailing-item {
  width: 560px;
  min-height: 220px;
}

.news {
  background-color: #ffffff;
  background-image: url("../img/news-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news a {
  color: #323232;
}

.news a:hover, .news a:active {
  color: #ffbc9e;
}

.news-caption {
  font-weight: 500;
  margin: 23px 19px 5px;
}

.news-descripion {
  width: 290px;
  margin: 0;
  margin-left: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

/* Рассылка */

.news-and-mailing-item.mailing {
  min-height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 4px, #92cdff 8px, #92cdff 12px, #f8f7f4 16px, #f8f7f4 20px, #fe9e90 24px, #fe9e90 28px);
  border-radius: 15px;
}

.mailing-inner {
  width: 550px;
  min-height: 210px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.mailing-descripion {
  margin: 30px 20px;
  color: #5a5a5a;
}

.mailing-form input {
  width: 338px;
  min-height: 44px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 15px;
  box-sizing: border-box;
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.mailing-form input::placeholder {
  width: 368px;
  min-height: 44px;
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.mailing-form input:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.mailing-form input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Карта и контакты */

.contacts {
  float: right;
  width: 248px;
  min-height: 233px;
  padding: 28px 27px 30px;
  margin-top: 60px;
  margin-right: 27px;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts-info {
  display: block;
  margin: 0;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts .button {
  display: inline-block;
  margin-top: 20px;
}

.main-map-inner {
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
  background-color: #e9e1c2;
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Модальное окно */

.form-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-caption {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

/* Модельное окно - форма */

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 481px;
  min-height: 445px;
  margin: 0 auto;
  padding: 25px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-form input {
  width: 270px;
  min-height: 47px;
  padding: 18px 17px 13px;
  box-sizing: border-box;
  margin-bottom: 17px;
}

.feedback-form textarea {
  width: 431px;
  min-height: 158px;
  padding: 15px;
  padding-left: 17px;
  margin-bottom: 23px;
}

.feedback-form input, .feedback-form textarea {
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.feedback-form input::placeholder, .feedback-form textarea::placeholder {
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.feedback-form input:hover, .feedback-form textarea:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:active, .feedback-form textarea:active {
  font: inherit;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-close {
  width: 18px;
  min-height: 17px;
  align-self: flex-end;
}

.form-wrapper .button {
  align-self: flex-end;
}

/* Полная корзина */

.cart.full-cart {
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #f8f7f4;
}

/* Заголовок страницы каталога */

.catalog-caption {
  margin: 3px 3px 25px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.form-wrapper .button {
  align-items: flex-end;
}

/* Сортировка в каталоге */

.filters-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 862px;
  min-height: 130px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 500;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.sorting-select,
.filter-item-inner {
  line-height: 18px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-caption {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.sorting-select {
  width: 195px;
  min-height: 37px;
  padding: 7px 10px 9px;
  margin: 0;
  margin-left: 5px;
  color: #ffffff;
}

.filter-item-inner {
  height: 36px;
  box-sizing: border-box;
  margin: 0;
  margin-left: 5px;
  padding: 17px;
  background-color: rgba(255, 255, 255, 0.2);
}

.price-filter-caption {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
}

.price-filter-inner {
  width: 220px;
}

.filter-line {
  width: 176px;
  height: 4px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  background-color: rgba(248, 247, 247, 0.5);
}

.fatty-inner,
.filler-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 415px;
}

.filler-inner {
  width: 703px;
}

.filter-button {
  align-self: flex-end;
  width: 144px;
  height: 35px;
  padding: 7px 29px 12px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}


.filter-button:hover {
  color: #323232;
  border-radius: 50px;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  border-radius: 50px;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

/* Хлебные крошки */

.breadcrums {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  width: 320px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  color: #ffffff;
}

.breadcrums a {
  margin-right: 21px;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.breadcrums a:hover, .breadcrums a:active {
  color: #ffbc9e;
}

/* Полная корзина */

/* Ошибка с кнопкой, исправить */

.cart-form {
  font-size: 13px;
  line-height: 16px;
  background-color: #f8f7f4;
}

/* .cart-form.button {

} */

.cart-start-price {
  color: #999999;
}

.cart-row-total-price {
  border-top: 1px solid #cacac7;
}

.cart-total-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

/* Разметка каталога товаров */

.catalog-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1146px;
  min-height: 1050px;
  padding: 0;
  align-content: space-between;
}

/* Пагинатор */

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.pagination-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 267px;
  margin: 25px;
  margin-bottom: 25px;
  list-style: none;
}

.pagination-list a,
.pagination-item {
  width: 27px;
  height: 26px;
  margin-left: 2px;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.pagination-item-current a,
.pagination-item-current {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

/* Подвал - разметка */

.main-footer .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Соцсети в подвале */

.footer-social {
  margin-top: 24px;
  width: 263px;
}

.social-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button,
.social-item {
  width: 35px;
  min-height: 35px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
  background-color: #e6ebe9;
  border-radius: 50%;
}

/* Навигация в подвале */

.footer-nav {
  width: 560px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.footer-nav-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer-nav-list {
  width: 267px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-list:first-of-type {
  width: 187px;
  text-align: right;
  padding-right: 30px;
}

.footer-nav-list a {
  text-align: left;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.footer-nav-list a:hover, .footer-nav-list a:active {
  color: #ffbc9e;
}

.partners {
  font-weight: 700;
}

/* Копирайт */

/* .footer-copyright { */
  /* display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
} */

.footer-copyright a {
  color: #fefefe;
}

.footer-copyright a:hover, .footer-copyright a:active {
  color: #ffbc9e;
}

.copyright-description {
  margin: 0;
  padding: 0;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

/* Дополнительные настройки */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
