body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

a {
  text-decoration: none;
}

/* Глобальные стили обертки */

.wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("img/promo1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/promo2.png");
}

.site-wrapper::after {
  background-image: url("img/promo3.png");
}

/* Центровщик */

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Общие стили кнопок */

/* ВНИМАНИЕ, ПЛОХО РАБОТАЕТ! */

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  padding:11px 23px 13px;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  border-radius: 50px;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  color: #ffffff;
  border-radius: 50px;
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Слайдер*/

.main-slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 41px;
  text-align: center;
  color: #ffffff;
}

.slider-inner {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Слайды слайдера */

.slide {
  display: none;
}

#wrapper-btn-1:checked ~ .wrapper #slider-item-1,
#wrapper-btn-2:checked ~ .wrapper #slider-item-2,
#wrapper-btn-3:checked ~ .wrapper #slider-item-3 {
  display: block;
}

#wrapper-btn-1:checked ~ .wrapper label[for="wrapper-btn-1"],
#wrapper-btn-2:checked ~ .wrapper label[for="wrapper-btn-2"],
#wrapper-btn-3:checked ~ .wrapper label[for="wrapper-btn-3"] {
  background-color: #ffffff;
}

#wrapper-btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo1.png");
}

#wrapper-btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo2.png");
}

#wrapper-btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo3.png");
}

/* Центровщик внутри шапки */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.upper-main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.downer-main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1146px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* Навигация в шапке сайта */

.main-header-logo {
  width: 154px;
  height: 64px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.nav-list, .nav-submenu-list {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 676px;
  padding: 0;
  margin: 0;
}

.nav-list-element {
  position: relative;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 1px;
}

.nav-list a {
  position: relative;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 11px;
  margin: 1px;
  color: #ffffff;
}

.nav-list-link-line {
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.nav-list-element:hover .nav-list-link-line,
.nav-list-element:active .nav-list-link-line {
  border-bottom: none;
}

.nav-list-element:hover a, .nav-list-element:active a{
  color: #333333;
}

.nav-list-element:hover .nav-list-link, .nav-list-element:active .nav-list-link{
  border-radius: 50px;
  background-color: #f7f6f3;
}

.nav-list-element:active .nav-list-link{
  border-top: 2px solid #696969;
  background-color: #f8f7f4;
}

.nav-list-element-current a{
  color: #ffffff;
  border-radius: 50px;
  background-color: #d07058;
}

.nav-list-element-current a {
  border-bottom: none;
}

.nav-submenu-list{
  display: none;
}

.nav-list-element:hover .nav-submenu-list,
.nav-list-element:active .nav-submenu-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  position: absolute;
  left: -6px;
  top: 49px;
  width: 143px;
  min-height: 170px;
  padding: 0;
  margin: 0;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.nav-submenu-list a{
  display: block;
  width: 143px;
  min-height: 26px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 19px;
  padding-bottom: 0px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  border-bottom: none;
}

.nav-submenu-list a:hover {
  background-color: #fbded7;
}

.nav-submenu-list a:active {
  background-color: #f6b5a5;
}

.nav-submenu-element-current a {
  background-color: #d07058;
}

.nav-submenu-list-element {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 1px;
  padding: 0;
}

.nav-submenu-list-element-new a{
  padding-top: 8px;
  padding-left: 19px;
  padding-bottom: 12px;
  font-weight: 700;
}

.nav-submenu-list-element-new a::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 8px;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Пользовательское меню в шапке */

.user-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 263px;
}

.user-menu a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.login-link a:hover {
  color: #323232;
}

.user-menu-element {
  padding-bottom: 15px;
  margin-bottom: -15px;
}

.user-menu-element .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 32px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-search a {
  width: 33px;
  min-height: 32px;
  border-radius: 50%;
  margin-right: 1px;
}

.header-search a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search a:hover,
.login-link a:hover {
  background-color: #f8f7f4;
}

.header-search a:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search-inner{
  display: none;
}

.header-search:hover .header-search-inner {
  display: block;
  position: absolute;
  top: 60px;
  right: 602px;
  width: 310px;
  height: 45px;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 19px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.header-search-form input[type="search"]{
  width: 312px;
  min-height: 43px;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 14px;
  padding-bottom: 2px;
}

.login-link a{
  width: 93px;
  min-height: 32px;
  box-sizing: border-box;
  padding-right: 17px;
}

.btn-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn-link:hover::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/entrance-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-inner {
  display: none;
}

.login-link:hover .login-inner {
  display: block;
  position: absolute;
  top: 60px;
  right: 498px;
  width: 242px;
  min-height: 195px;
  padding-top: 21px;
  padding-left: 18px;
  padding-right: 17px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.user-form input {
  width: 242px;
  height: 43px;
  box-sizing: border-box;
  padding-left: 14px;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.login-inner-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.login-inner-footer .button {
  width: 100px;
  height: 45px;
}

.login-help {
    width: 122px;
}

.login-help a {
  min-height: 20px;
  padding: 0;
  margin: 0;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-help a:hover,
.login-help a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.cart a{
  width: 117px;
  min-height: 32px;
  box-sizing: border-box;
  padding-right: 34px;
}

.cart a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 22px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Полная корзина */

.full-cart a{
  display: block;
  position: relative;
  width: 117px;
  min-height: 32px;
  box-sizing: border-box;
  padding-right: 18px;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 25px;
}

.user-menu-element .full-cart-btn {
  background-color: #f8f7f4;
}

.full-cart a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Формы пользовательского меню в шапке */

.header-search-form input, .user-form input {
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.header-search-form input::placeholder, .user-form input::placeholder {
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.header-search-form input:hover, .user-form input:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.header-search-form input:active, .user-form input:active {
  font: inherit;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Контакты в шапке */

.contact-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-weight: 700;
}

.tel-hours {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.tel {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

/* Промо */

.main-promo {
  display: flex;
  justify-content: space-between;
  margin: 0 2px 32px;
}

.promo-item {
  width: 560px;
  min-height: 230px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 18px;
}

.promo-item a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.promo-caption {
  margin: 16px 18px;
  font-size: 35px;
  line-height: 41px;
}

.promo-description {
  margin: 0 20px 45px;
  font-size: 18px;
}

.promo-item.promo-item-raspberry {
  background-color: #6c2231;
  background-image: url("../img/background-raspberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-item.promo-item-chocolate {
  background-color: #41281c;
  background-image: url("../img/background-chocolate.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-item .button {
  float: right;
  max-width: 180px;
  margin-left: auto;
  margin-right: 20px;
}

/* Товары*/

.popular-items-list,
.catalog-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-item,
.popular-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 280px;
  min-height: 360px;
}

.catalog-item-link {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  min-height: 405px;
  padding-top: 8px;
  border-radius: 5px;
}

.catalog-item:hover .catalog-item-link,
.catalog-item:focus .catalog-item-link {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.popular-item-inner::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-inner img {
  border-radius: 50%;
}

.popular-items a, .catalog-list a {
  color: #ffffff;
}

.item-caption:hover, .item-caption:active {
  color: #ffbc9e;
}

.popular-items-list, .catalog-list {
  list-style: none;
}

.catalog-item .button {
  display: none;
  order: 2;
  width: 203px;
  margin: 0 auto;
}

.catalog-item:hover .button,
.catalog-item:focus .button {
  position: absolute;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  z-index: 1;
}

.item-caption {
  max-width: 255px;
  align-self: flex-start;
  order: 1;
  margin: 0 auto;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.item-price {
  position: absolute;
  top: 209px;
  left: 8px;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.kg {
  font-size: 30px;
}

/* Приемущества Глейси */

.features {
  min-height: 278px;
  padding: 27px 20px 0;
  margin-bottom: 40px;
  background-color: #ede1ca;
  background-image: url("../img/background-pattern.jpg");
  background-position: center;
  background-repeat: repeat;
  border-radius: 15px;
}

.features-caption {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  position: relative;
  width: 476px;
  padding-left: 57px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.feature-quality::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-partners::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-natural::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-delivery::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Новости */

.news-and-mailing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.news-and-mailing-item {
  width: 560px;
  min-height: 220px;
}

.news {
  background-color: #ffffff;
  background-image: url("../img/news-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news a {
  color: #323232;
}

.news a:hover, .news a:active {
  color: #ffbc9e;
}

.news-caption {
  font-weight: 500;
  margin: 23px 19px 5px;
}

.news-descripion {
  width: 290px;
  margin: 0;
  margin-left: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

/* Рассылка */

.news-and-mailing-item.mailing {
  min-height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 4px, #92cdff 8px, #92cdff 12px, #f8f7f4 16px, #f8f7f4 20px, #fe9e90 24px, #fe9e90 28px);
  border-radius: 15px;
}

.mailing-inner {
  width: 550px;
  min-height: 210px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.mailing-descripion {
  margin: 30px 20px;
  color: #5a5a5a;
}

.mailing-inner .button {
  margin-top: 5px;
}

.mailing-form input {
  width: 365px;
  min-height: 44px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.mailing-form input::placeholder {
  width: 368px;
  min-height: 44px;
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.mailing-form input:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.mailing-form input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Карта и контакты */

.main-map {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  background-color: #e9e1c2;
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  top: 0;
  right: 0;
  width: 277px;
  min-height: 275px;
  padding-top: 30px;
  padding-left: 25px;
  margin-top: 63px;
  margin-right: 27px;
  background-color: #ffffff;
  border-radius: 10px;
}

.contacts-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts p:first-child {
  margin-right: 25px;
  margin-bottom: 18px;
}

.contacts p:nth-child(2) {
  margin-bottom: 14px;
}

.contacts-info {
  display: block;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts .contacts-info:nth-child(1)  {
  margin-top: 4px;
}

.contacts .button {
  display: inline-block;
  min-width: 205px;
  margin: 0;
  margin-top: 10px;
  vertical-align: top;
}

/* Модальное окно */

.form-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-caption {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

/* Модельное окно - форма */

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 481px;
  min-height: 445px;
  margin: 0 auto;
  padding: 25px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-form input {
  width: 270px;
  min-height: 47px;
  padding: 18px 17px 13px;
  box-sizing: border-box;
  margin-bottom: 17px;
}

.feedback-form textarea {
  width: 431px;
  min-height: 158px;
  padding: 15px;
  padding-left: 17px;
  margin-bottom: 23px;
}

.feedback-form input, .feedback-form textarea {
  font: inherit;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.feedback-form input::placeholder, .feedback-form textarea::placeholder {
  font: inherit;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.feedback-form input:hover, .feedback-form textarea:hover {
  font: inherit;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:active, .feedback-form textarea:active {
  font: inherit;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-close {
  width: 18px;
  min-height: 17px;
  align-self: flex-end;
}

.form-wrapper .button {
  align-self: flex-end;
}

/* Заголовок страницы каталога и фон каталога */

.container-catalog {
  background-color: #849d8f;
}

.catalog-caption {
  margin: 3px 3px 25px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.form-wrapper .button {
  align-items: flex-end;
}

.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Окно полной корзины */

.cart-form {
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  width: 540px;
  min-height: 242px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.6);
  z-index: 100;
}

.cart-table {
  display: table;
}

.cart-row {
  display: table-row;
  /* min-height: 40px;
  margin-bottom: 10px; */
}

.cart-cell {
  display: table-cell;
}

.cart-del {
  width: 40px;
}

.cart-name {
  width: 293px;
  margin-left: 30px;
}

.cart-calculate {
  width: 120px;
}

.cart-price {
  width: 85px;
}

.modal-close {
  width: 12px;
  height: 12px;
  padding: 0;
  margin-top: 5px;
  margin-left: 13px;
  font-size: 0;
  border: 0;
  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

/* .cart-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 40px;
  margin-bottom: 10px;
} */

/* Сортировка в каталоге */

.filters-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 862px;
  min-height: 130px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 500;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.sorting-select,
.filter-item-inner {
  line-height: 18px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-caption {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.sorting-select {
  width: 195px;
  min-height: 37px;
  padding: 7px 10px 9px;
  margin: 0;
  margin-left: 5px;
  color: #ffffff;
}

.filter-item-inner {
  height: 36px;
  box-sizing: border-box;
  margin: 0;
  margin-left: 5px;
  padding: 17px;
  background-color: rgba(255, 255, 255, 0.2);
}

.price-filter-caption {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
}

.price-filter-inner {
  position: relative;
  width: 220px;
}

.filter-line {
  width: 176px;
  height: 4px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  background-color: rgba(248, 247, 247, 0.5);
}

.filter-active-line {
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 15px;
}

.filter-ring {
  position: absolute;
  top: 9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.ring-min {
  left: 35px;
}

.ring-max {
  left: 132px;
}

.filter-item-inner label{
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.fatty-inner,
.filler-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 415px;
}

.filter-toggle + label::before,
.filter-toggle:checked + label::after,
.filter-checkbox + label::before,
.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-toggle + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-toggle:checked + label::after {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-toggle + label:hover::before,
.filter-checkbox + label:hover::before {
  opacity: 1;
}

.filter-toggle + label:disabled::before,
.filter-checkbox + label:disabled::before {
  opacity: 0.4;
}

.filler-inner {
  position: relative;
  width: 703px;
}

.filter-button {
  align-self: flex-end;
  width: 144px;
  height: 35px;
  padding: 7px 29px 12px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}


.filter-button:hover {
  color: #323232;
  border-radius: 50px;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  border-radius: 50px;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

/* Хлебные крошки */

.breadcrums {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  width: 320px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  color: #ffffff;
}

.breadcrums a {
  position: relative;
  margin-right: 21px;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.breadcrums a::after {
  content: "»";
  position: absolute;
  right: -17px;
  width: 10px;
  height: 10px;
  background-repeat: repeat-x;
  background-position: 0 0;
}

.breadcrums a:hover, .breadcrums a:active {
  color: #ffbc9e;
}

/* Полная корзина */

/* Ошибка с кнопкой, исправить */

.cart-form {
  font-size: 13px;
  line-height: 16px;
  background-color: #f8f7f4;
}

/* .cart-form.button {

} */

.cart-start-price {
  color: #999999;
}

.cart-row-total-price {
  border-top: 1px solid #cacac7;
}

.cart-total-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

/* Пагинатор */

.pagination-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 267px;
  margin-top: 45px;
  margin-right: 30px;
  margin-bottom: 25px;
  list-style: none;
}

.pagination-list::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 140px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}

.pagination-list::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -23px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list a {
  display: inline-block;
  width: 17px;
  height: 22px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px 5px 0;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pagination-item-current a,
.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

/* Подвал - разметка */

.main-footer {
  margin-bottom: 20px;
}

.main-footer .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Соцсети в подвале */

.footer-social {
  margin-top: 17px;
  margin-left: 5px;
  margin-bottom: 30px;
  width: 263px;
}

.social-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  position: relative;
  width: 38px;
  min-height: 38px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border-radius: 50%;
}

.twitter::before,
.instagram::before,
.fb::before,
.vk::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.twitter::before {
  background-image: url("../img/twitter.svg");
}

.instagram::before {
  background-image: url("../img/instagram.svg");
}

.fb::before {
  background-image: url("../img/fb.svg");
}
.vk::before {
  background-image: url("../img/vk.svg");
}

.twitter:hover::before,
.instagram:hover::before,
.fb:hover::before,
.vk:hover::before {
  opacity: 1;
}

.twitter:active:hover::before,
.instagram:active::before,
.fb:active::before,
.vk:active::before {
  opacity: 0.2;
  border: 4px solid rgba(255, 255, 255, 0.1);
}


/* Навигация в подвале */

.main-footer {
  margin-bottom: 20px;
}

.footer-nav {
  width: 560px;
  margin: 0;
  margin-top: 17px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.footer-nav-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer-nav-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 267px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-list:first-of-type {
  width: 187px;
  text-align: right;
  padding-left: 5px;
  padding-right: 45px;
}

.footer-nav-list a {
  text-align: left;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.footer-nav-list a:hover, .footer-nav-list a:active {
  color: #ffbc9e;
}

.partners {
  position: relative;
  margin: -12px;
  font-weight: 700;
}

.partners::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: -22px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Копирайт */

/* .footer-copyright { */
  /* display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
} */

.footer-copyright a {
  color: #fefefe;
}

.footer-copyright a:hover, .footer-copyright a:active {
  color: #ffbc9e;
}

.copyright-description {
  margin: 0;
  padding: 0;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

/* Дополнительные настройки */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
